---
const cards = [
  {
    title: "Conoce más sobre",
    title_special: "Brenner Vera.",
    description: "Conoce sobre Brenner, su trayectoria, logros y proyectos.",
    url: "/Img/1.webp ",
    link: "https://brennervera.com/",
  },
  {
    title: "Comunícate con un",
    title_special: "asesor especializado.",
    description: "Resuelve tus dudas y preguntas con la ayuda de un asesor.",
    url: "/Img/2.webp",
    link: "https://wa.link/hzwyw9",
  },
];
---

{
  cards.map((card) => (
    <>
      <ul>
        <li>
          <a href={card.link} target="_blank">
            <div class=" hover:scale-105 hover:opacity-75 duration-300 relative md:rounded-2xl rounded-lg">
              <img src={card.url} alt="" />
              <div class="  hover:scale-105 hover:opacity-75 duration-300  absolute left-0 bottom-0 md:p-6 p-2">
                <span class="text-white font-[ObjectiveMedium] md:text-[30px] text-[.8em] sm:text-xl ">
                  {card.title}{" "}
                  <p class="text-[#f68c11] sm:text-xl">{card.title_special}</p>
                </span>
                <p class="text-white font-[ObjectiveRegular] md:text-[10px] text-[.5rem] sm:text-[.7rem] ">
                  {card.description}
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </>
  ))
}
