---
const cards = [
  {
    title: "Conoce más sobre",
    title_special: "Brenner Vera.",
    description: "Conoce sobre Brenner, su trayectoria, logros y proyectos.",
    url: "/Img/1.webp ",
    link: "https://brennervera.com/",
  },
  {
    title: "Comunícate con un",
    title_special: "asesor especializado.",
    description: "Resuelve tus dudas y preguntas con la ayuda de un asesor.",
    url: "/Img/2.webp",
    link: "https://wa.link/hzwyw9",
  },
];
---

{
  cards.map((card) => (
    <>
      <ul class="w-full ">
        <li>
          <a href={card.link} target="_blank">
            <div class="hover:scale-105 hover:opacity-75 duration-300 relative md:rounded-2xl rounded-lg">
              <img class="w-full max-h-64 " src={card.url} alt="" />
              <div class="hover:scale-105 hover:opacity-75 duration-300  absolute left-0 bottom-0 md:p-6 p-2 w-full">
                <div class="flex flex-wrap gap-2 items-center">
                  <span class="w-fit text-white font-[ObjectiveMedium] md:text-xl min-[1564px]:text-2xl sm:text-xl min-[460px]:text-[1.3em] text-[.8em]">
                    {card.title}
                  </span>
                  <p class="w-fit text-[#f68c11] min-[1564px]:text-2xl md:text-xl mb-1 min-[460px]:text-[1.3em] text-[.8em]">
                    {card.title_special}
                  </p>
                </div>
                <p class="text-white font-[ObjectiveRegular] min-[1536px]:text-sm md:text-xs min-[460px]:text-[.8em] text-[.6rem] sm:text-[.7rem] ">
                  {card.description}
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </>
  ))
}
